.synergy-layout {
    background: url("../../assets/background-why-blockchain-technology-1080p.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    header {
        height: 88px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.4) 90%, rgba(0, 0, 0, 0) 100%);
        .logo {
            height: 4rem;
            &:hover {
              cursor: pointer;
            }
          }
    }
    footer {
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: right;
        justify-content: right;
      }
}
