/* PUT HERE SCSS VARIABLES ( These are base variables from Bookeeping project ) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap');

$font-montserrat: 'Montserrat', sans-serif;
$font-opensans: 'Open Sans', sans-serif;

$color-primary: #0353a4;
$color-secondary: #72b5e8;
$color-white: #ffffff;
$color-gray-bg: #94989c;
$color-gray-light: #b6babf;
$color-gray-dark: #7e848b;

$color-title: #202329;
$color-text: #454d55;

$color-success: #15b881;
$color-warning: #f47b33;
$color-danger: #ee2265;

$border-radius: 6px;